/* 
    sass --watch assets/scss/main.scss assets/css/style.css
*/

/* ********************* Variablen Start ***************** */
/* ********************* Varibblen Farben ***************** */
$headerNavUndSidbar_color___grau: #867772;
$h1Bish5___color_schwarz: #2e2e2d;
$h6___color_pastell: #EACCC2;
$nav_hover___color_weiß: #fff;

$farbe_grau2: #737373;
$farbe_pastell: #ebccc2;

/* ********************* Varibalen Schriftgröße ***************** */
$h1___fontSize_3Rem: 2rem;
/* *** Vorsicht keine 3 Rem */
$h2___fontSize_2_5Rem: 2.5rem;
$h3___fontSize_1_5Rem: 1.5rem;
$h4___fontSize_1_25Rem: 1.25rem;
$h5___fontSize_1Rem: 1rem;
$h6___fontSize_0_75Rem: 0.75rem;




/* ********************* Variablen Start ***************** */


/* ********************** Mixin Start ******************* */
@mixin schrift4Param___fontSize_3Rem___color_h6pastell___fontFamily_Normal___fontWeight_200weight ($fontSize, $farbe, $fontFamily, $fontWeight, ) {
    font-size: $fontSize;
    color: $farbe;
    font-family: $fontFamily;
    font-weight: $fontWeight;
}

@mixin ausrichten3Param___display_FleX___JustifyContent_Center___alginItems_Center ($flex, $centerJus, $centerAli) {
    display: $flex;
    justify-content: $centerJus;
    align-items: $centerAli;
}








/* ********************** Mixin Ende ******************* */



/* *********************** Font Family Start ***************** */

@font-face {
    font-family: Normal_WorkSans;
    src: url("../fonts/Work_Sans_1/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Italic_WorkSans;
    src: url("../fonts/Work_Sans_1/WorkSans-Italic-VariableFont_wght.ttf");
}



/*        ********* Font Familys zum einfügen **** 

font-family: Normal_WorkS,sans-serif;

font-family: Italic_WorkSans,sans-serif;

*/

/* *********************** Font Family Ende ***************** */

* {
    color: #2e2e2d, #867772, #EACCC2, #ebccc2, #fff, #737373;

}





/* *  **************** img  default    damit alle Bilder vorerst nicht zu groß sind   müssen später eingepasst werden */

img {
    max-width: 300px;
    /* * unten dann max-width erweitern, nicht mit width arbeiten bringt nix */
}

/* ****************** Schriftgrößen ******************* */

h1 {
    @include schrift4Param___fontSize_3Rem___color_h6pastell___fontFamily_Normal___fontWeight_200weight(2rem, $farbe_pastell , Normal_Work, 200)
}

h2 {
    font-size: 3rem;
}

html {
    background-color: #2e2e2d;
}

/* ********************* Header ********************** */
/* ********************* Header ********************** */
/* ********************* Header ********************** */

header {
    position: sticky;
    /* * damit header oben hängen bleibt */
    top: 0;
    /* * header soll ganz oben also bei 0px hängen bleiben */
    background-color: $h1Bish5___color_schwarz;
    /* * damit hinter dieser seite der restliche Text der von unten hoch kommt überdeckt wird */

    @include ausrichten3Param___display_FleX___JustifyContent_Center___alginItems_Center(flex, space-between, center);
    padding: 2vh 10vw 0 3vw;

    /* ********************* Header Nav ********************** */

    nav {
        width: 30vw;
        /* muss dann in Mobile kleiner bzw ein BurgerMenü werden */

        @include ausrichten3Param___display_FleX___JustifyContent_Center___alginItems_Center(flex, space-between, center);

        a {
            text-decoration: none;
            color: $headerNavUndSidbar_color___grau;


            &:hover {
                color: $nav_hover___color_weiß;
            }
        }
    }
}

/* ********************* Main ********************** */
/* ********************* Main ********************** */
/* ********************* Main ********************** */


main> {


    section> {
        article {
            h1 {
                background-color: red;
                width: 20vw;
                margin: 0 auto;
            }
        }

        /* * braucht hier kein > weil ja schon oben > ist und somit eines in css auftaucht */
        article:nth-of-type(2) {
            background-color: green;
            width: 100%;
            @include ausrichten3Param___display_FleX___JustifyContent_Center___alginItems_Center(flex, center, center);


            >img {
                max-width: 90%;
                /* * mit max-width arbeiten, denn ganz oben ist ja max-width als default noch auf 300px begrenzt von daher bringt width nichts */
            }
        }
    }
}



/* ********************* Main Nav Sidebar ********************** */

.mainNavSidebar {
    @include ausrichten3Param___display_FleX___JustifyContent_Center___alginItems_Center(flex, centerJus, centerAli);
    flex-grow: row wrap;

    background-color: rgba(255, 0, 0, 0.46);
    /* * kein background-color, damit es transparent bleibt */
    width: 10vw;
    position: fixed;
    /* damit es hängen bleibt */
    top: 20vh;
    /* * damit es so in der hälfte der Höhe ist */
    line-height: 5;

    ul {
        list-style-type: circle;

        li {
            a {
                text-decoration: none;
                color: $headerNavUndSidbar_color___grau;

                padding-left: 2vw;

                &:hover {
                    color: $nav_hover___color_weiß;
                    border-radius: 50vw solid $nav_hover___color_weiß;


                }
            }
        }
    }
}


/* **************** Bilder Section Display ****** */
.bilder___sectionDisplay {
    /* * include nicht über taben machen sonder auto, so das die kommas mitkommen, dann geht auch im mixin die Variablen ;-) */
    @include ausrichten3Param___display_FleX___JustifyContent_Center___alginItems_Center(flex, center, center);
    flex-wrap: wrap;
    /* **** ??? **** */

    padding-top: 15vh;

    background-color: red;

}


/* ********************* Main Class Bilder ******************** */
.bilder {
    background-color: green;
     width: 25vw;
     


    img {
        max-width: 100%;

        object-fit: cover;
        object-position: 0px 0px;

 
    }

}





/* ***************** Main Class textBlock ******************** */

.textBlock {
    background-color: blue;
    width: 20vw;
    padding-left: 5vw;
}