@charset "UTF-8";
/* 
    sass --watch assets/scss/main.scss assets/css/style.css
*/
/* ********************* Variablen Start ***************** */
/* ********************* Varibblen Farben ***************** */
/* ********************* Varibalen Schriftgröße ***************** */
/* *** Vorsicht keine 3 Rem */
/* ********************* Variablen Start ***************** */
/* ********************** Mixin Start ******************* */
/* ********************** Mixin Ende ******************* */
/* *********************** Font Family Start ***************** */
@font-face {
  font-family: Normal_WorkSans;
  src: url("../fonts/Work_Sans_1/WorkSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: Italic_WorkSans;
  src: url("../fonts/Work_Sans_1/WorkSans-Italic-VariableFont_wght.ttf");
}
/*        ********* Font Familys zum einfügen **** 

font-family: Normal_WorkS,sans-serif;

font-family: Italic_WorkSans,sans-serif;

*/
/* *********************** Font Family Ende ***************** */
* {
  color: #2e2e2d, #867772, #EACCC2, #ebccc2, #fff, #737373;
}

/* *  **************** img  default    damit alle Bilder vorerst nicht zu groß sind   müssen später eingepasst werden */
img {
  max-width: 300px;
  /* * unten dann max-width erweitern, nicht mit width arbeiten bringt nix */
}

/* ****************** Schriftgrößen ******************* */
h1 {
  font-size: 2rem;
  color: #ebccc2;
  font-family: Normal_Work;
  font-weight: 200;
}

h2 {
  font-size: 3rem;
}

html {
  background-color: #2e2e2d;
}

/* ********************* Header ********************** */
/* ********************* Header ********************** */
/* ********************* Header ********************** */
header {
  position: sticky;
  /* * damit header oben hängen bleibt */
  top: 0;
  /* * header soll ganz oben also bei 0px hängen bleiben */
  background-color: #2e2e2d;
  /* * damit hinter dieser seite der restliche Text der von unten hoch kommt überdeckt wird */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vw 0 3vw;
  /* ********************* Header Nav ********************** */
}
header nav {
  width: 30vw;
  /* muss dann in Mobile kleiner bzw ein BurgerMenü werden */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #867772;
}
header nav a:hover {
  color: #fff;
}

/* ********************* Main ********************** */
/* ********************* Main ********************** */
/* ********************* Main ********************** */
main > section > article h1 {
  background-color: red;
  width: 20vw;
  margin: 0 auto;
}
/* ********************* Main Nav Sidebar ********************** */
.mainNavSidebar {
  display: flex;
  justify-content: centerJus;
  align-items: centerAli;
  flex-grow: row wrap;
  background-color: rgba(255, 0, 0, 0.46);
  /* * kein background-color, damit es transparent bleibt */
  width: 10vw;
  position: fixed;
  /* damit es hängen bleibt */
  top: 20vh;
  /* * damit es so in der hälfte der Höhe ist */
  line-height: 5;
}
.mainNavSidebar ul {
  list-style-type: circle;
}
.mainNavSidebar ul li a {
  text-decoration: none;
  color: #867772;
  padding-left: 2vw;
}
.mainNavSidebar ul li a:hover {
  color: #fff;
  border-radius: 50vw solid #fff;
}

/* ********************* Main Class Bilder ******************** */
/* ***************** Main Class textBlock ******************** */
h1 {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
